@charset "utf-8";

h1 , h2, p, span{
  color: #FFFFFF;
}

.left, .right {
  padding-top: 25px;
}

.right {
  padding-left: 25px;
  padding-right: 50px;
}

h1 {
  margin-bottom: 50px;
}

p {
  margin: 0;
}

#app {
  height: 100vh;
  width: 100%;
  background: rgb(3,54,77);
  background: linear-gradient(90deg, rgba(3,54,77,1) 0%, rgba(0,118,168,1) 64%, rgba(70,144,176,1) 98%);
  
  
}

.left {
  border-right: #FFFFFF;
}


.head {
  display: flex;
  justify-content: space-between;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.profil {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.greenpoint, .greypoint {
  height: 10px;
  width: 10px;
  border-radius: 50px;
}

.greenpoint {
  background-color: #4C8E09;
}

.greypoint {
  background-color: #AFB1AD;
}

.messages {
  height: 85vh;
  overflow: scroll;
}

.message-received {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.message-sent {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}

.message-received .text {
  background-color: #AFB1AD;
  margin-left: 15px;
}

.message-sent .text {
  background-color: #4C8E09;
  margin-right: 15px;
}

.message-sent p, .message-received p {
  padding: 15px;
  border-radius: 30px;
  max-width: 60%;
}

.typing-message {
  
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.myInput {
  background: none;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 50px;
  height: 40px;
  width: 95%;
  padding: 10px;
  
}



